@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  /* prevent purple on visited */
}

#upper {
  background-color: #000f28;
  width: 100%;
  height: 3125px;
}

#upper nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  padding: 28px 25px 28px 48px;
  height: 44px;
  color: #fff;
  background: #000f28;
  z-index: 10;
}

#upper #navLogo {
  padding: 10px 12px;
  margin-right: 32px;
  filter: brightness(1);
}

/* Apply sizing and hover to the image itself */
#upper #navLogo img {
  height: 20px;
  width: auto;
}

#upper #navLogo:hover {
  filter: brightness(0.8);
  /* slightly gray on hover */
}

#upper nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#upper nav li {
  display: flex;
  justify-content: center;
  height: 44px;
  margin-right: 9px;
  align-items: center;
  background: none;
  text-decoration: none;
}

#upper nav #navLeft span {
  position: relative;
  display: inline-block;
  padding: 11.5px 12px;
  height: 100%;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

#upper nav #navLeft span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  /* move the line further down */
  height: 1px;
  /* thickness of the line */
  background: #000f28;
}

#upper nav span:hover {
  color: #0071c5 !important;
}

#upper #navRight {
  display: flex;
  align-items: center;
  height: 67px;
  margin-left: auto;
}

#upper nav #navRight span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11.5px 0 11.5px 12px;
  height: 44px;
  font-size: 14px;
  line-height: normal;
  /* reset this */
  cursor: pointer;
}

#upper nav #navRight #lang {
  padding-left: 20px;
}

#upper nav #navRight #langText {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 6px;
}

#upper nav #navRight #searchText {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 11px;
  cursor: text;
}



#upper #scroll {
  position: relative;
}

#upper #scroll #imgContainer {
  position: absolute;
  top: 178px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 600px;
  box-shadow: #fff 0 0 20px 5px;
  overflow: hidden;
}

#upper #scroll #imgContainer.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#upper #scroll .slide {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:
    top 0.6s cubic-bezier(0.1, 0.8, 1, 1),
    opacity 0.2s ease;
}

#upper #scroll .slide.active {
  top: 0;
  opacity: 1;
}

#upper #scroll #slide1 {
  top: 0;
  opacity: 1;
}

#upper #scroll #imgContainer .centerImage {
  height: 100%;
  width: 100%;
}

#upper #scroll #imgContainer .centerImgText {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  width: 80%;
}

#upper #scroll #imgContainer .centerImgText h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

#upper #scroll #imgContainer .centerImgText h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 auto 28px;
  width: 55%;
}

#upper #scroll #imgContainer .centerImgText a {
  font-size: 14px;
  font-weight: 400;
  background-color: #0046c8;
  padding: 14px 18px;
  border-radius: 20px;
}

#logoCanvas {
  cursor: pointer;
}