@font-face {
    font-family: "Intel One Mono";
    src: url("../fonts/IntelOneMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Intel One Mono";
    src: url("../fonts/IntelOneMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Intel One Mono";
    src: url("../fonts/IntelOneMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Intel One Mono", monospace;
}

#upper {
  background-color: #000f28;
  width: 100%;
  height: 500vh;
}

nav {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  padding: 28px 48px;
  height: 44px;
  color: #fff;
  background: #000f28;
  z-index: 10;
}

#navLogo {
  padding: 10px 12px;
  margin-right: 32px;
  filter: brightness(1);
}

/* Apply sizing and hover to the image itself */
#navLogo img {
  height: 20px;
  width: auto;
}

#navLogo:hover {
  filter: brightness(0.8);
  /* slightly gray on hover */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: flex;
  justify-content: center;
  height: 44px;
  align-items: center;
  background: none;
  padding: 11.5px 12px;
  text-decoration: none;
}

nav #navLeft span {
  position: relative;
  display: inline-block;
  height: 100%;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
  font-family: 'Intel One Mono';
  font-weight: 500;
}

nav #navLeft span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  /* move the line further down */
  height: 1px;
  /* thickness of the line */
  background: #000f28;
}

nav span:hover {
  color: #0071c5;
  cursor: pointer;
}

nav #navRight span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  height: 44px;
  line-height: normal; /* reset this */
}

#navRight {
  display: flex;
  align-items: center;
  height: 67px;
  margin-left: auto;
}

#navRight #signIn img {
  height: 30px;
  width: auto;
}

#navRight #langDiv {
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;   /* initial color */
    cursor: pointer;
}

#logoCanvas {
  cursor: pointer;
}